@import '@/styles/variables.module.scss';

.view_base {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.view_base__header {
  display: flex;
  justify-content: space-between;
  height: $admin-view-header-height;
  margin-bottom: $spacing-small;
}

.view_base__content {
  display: flex;
  width: 100%;
  height: calc(100% - $admin-view-header-height - 10px);
}
