$responsive-ultrawide: 1400px;
$responsive-desktop: 1000px;
$responsive-tablet: 760px;
$responsive-mobile: 480px;

$admin-header-height: 30px;
$admin-menu-width: 200px;

$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;