.auth_page {
  display: flex;
  border: 1px solid red;
}

.auth_page__form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  padding: 20px 20px 40px 20px;
  border-radius: 10px;

  // border: 1px solid blue;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.auth_page__form_header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    height: 80px;
  }
}

.auth_page__form_content {
  display: flex;
}

