@import '@/styles/variables.module.scss';

.admin_view__method_analysis {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: 1px solid red;
}

.admin_view__method_analysis__chat_container {

}

.admin_view__method_analysis__form_container {
  
}