@import '@/styles/variables.module.scss';

.table_listing_digital_form {
  // display: flex;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 8px;
  }  
}
